# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.egg

# Jupyter
.ipynb_checkpoints/

# Editor temp files
~$*
*.swp
*.swo
*~
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
env/
.env/
push-to-github.bat
